<html>
    <head>
        <title>Notepad Tracker</title>
        <link href='{{  url_for("static", filename="css/style.css") }}' type="text/css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <ul class="left">
                <li><a href="/">Notepad Tracker</a></li>
            </ul>
            <ul class="right">
                <li><a href="/createnotes">+ Create new note</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
